

<!--
<div>
        <a>{{category.category_id}}</a>   
        <a>{{category.category_name}}</a>
</div>
-->
<mat-grid-list cols="4" rowHeight="4:2">
  <mat-grid-tile colspan="4"><h1>Edit category</h1></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile colspan="2" style="background:lightslategray"> 
    
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <!--<label>{{category.category_id}}</label>-->
        <mat-form-field for="description" class="category-item">
            <mat-label>category name</mat-label>
            <input matInput placeholder="category name" [(ngModel)]="category.category_name" formControlName="name">
        </mat-form-field>

        <button mat-raised-button color="green" type="submit">Save changes</button>
    </form>

  </mat-grid-tile>
  
  <mat-grid-tile rowspan="2">
   
  </mat-grid-tile>
</mat-grid-list>



<!--
<div class="content">
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
<label>{{category.category_id}}</label>
<mat-form-field for="description" class="example-full-width" class="category-item">
    <mat-label>category name</mat-label>
    <input matInput placeholder="category name" [(ngModel)]="category.category_name" formControlName="name">
  </mat-form-field>

   <button mat-raised-button color="green" type="submit">Save changes</button>
</form>
</div>
-->
