
<mat-grid-list cols="4" rowHeight="4:1">
  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile colspan="2">
    <h1>Task List</h1>
  </mat-grid-tile>
  
  <mat-grid-tile rowspan="2">
    <button mat-fab color="green" [routerLink]="['/createtask']">+</button>
  </mat-grid-tile>
</mat-grid-list>


<!--rowspan="2"-->
<!--
<mat-grid-list cols="4" rowHeight="8:1" *ngFor="let task of taskList | async; index as task_id" >
  <mat-grid-tile ></mat-grid-tile>
  <mat-grid-tile colspan="2" style="align">
    
     <mat-list [title]="task.task_title + 'details'" [routerLink]="['/task', task.task_id]">
      <mat-list-item style="color: black"> {{ task.task_id }} + {{ task.task_title }} + Category: {{ task.category_name}} </mat-list-item>
     </mat-list>
     
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
-->





<div class="content">
<div *ngFor="let task of taskList | async; index as task_id">
    <mat-card [title]="task.task_title + 'details'" [routerLink]="['/task', task.task_id]">
        <mat-card-title>{{ task.task_id }}</mat-card-title>
        <mat-card-title>{{ task.task_title }}</mat-card-title>
        <mat-card-subtitle>Category: {{ task.category_name}}</mat-card-subtitle>
    </mat-card> 
<div>
</div>


