<div class="content">

<div *ngFor="let t of task | async;">    
<div *ngIf="editComponentDetail">
    <span class="task-item">{{ t.task_id }}</span>

    <span class="task-item">{{ t.task_title }}</span>

    <span class="task-item">{{ t.task_description}}</span>

    <span class="task-item">{{ t.task_date | date}}</span>

    <span class="task-item">{{ t.category_id}}</span>

    <span class="task-item">{{ t.category_name}}</span>
</div>


<button mat-raised-button *ngIf="editComponentDetail" (click)="edit()">Edit</button>   
<button mat-raised-button *ngIf="editComponentDetail" (click)="delete(t.task_id)">delete</button> 
<button mat-raised-button>Mark as done</button>

<div *ngIf="editComponentEdit">
  <app-task-edit [task]="t"></app-task-edit>
</div>

<button mat-raised-button *ngIf="editComponentEdit" (click)="goBack()">Go back</button>

</div>
</div>